@font-face
{
	font-family: "Yu Gothic M";
	src: local("Yu Gothic Medium");
}

@font-face
{
	font-family: "Yu Gothic M";
	src: local("Yu Gothic Bold");
	font-weight: bold;
}

body
{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", HelveticaNeue, "Segoe UI", "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    width:500px;
    background: #fff;
}

.card
{
    margin-bottom: unset;
}

.card .card-header
{
    text-align: center;
    padding-top:unset;
    padding-bottom:unset;
}

.card .card-body
{
    padding-bottom: unset;
}