div.d3SzntVG_par{
	position: absolute;
}
div.d3SzntVG{
	min-width: 150px;
	min-width: 60px;
	position: relative;
	padding: 0.6em;
	background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
	background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
	border-radius: 7px;
}
button.d3SzntVG_delete{
	position: absolute;
	top:-15px;
	right: -15px;
}